<% provide(:page_title, @post.title) %>
<% provide(:blog_active, 'active') %>

<div class="row">
  <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xs-text-center">	
    <h1><%= @post.title %></h1>
    <p>Viewed <%= @post.hits%></p>
    <%= @post.description %>
  </div>
</div>
